@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pacifico&display=swap');
html,body {
    padding: 0;
    margin: 0;
}

nav {
    background-image: url('Images/Navback.png');
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 100%;
  }
  
  .logo {
    width: 80px;
    height: 100px;
    padding-left: 100px
  }

  h3 {
    font-family:'Pacifico';
    color: rgb(221, 186, 8);
    margin-right: 730px;
    
  }
  
  ul {
    list-style-type: none; /* Remove the bullets from the list */
    margin: 0; /* Remove the default margin */
    padding: 20px; 
    display: flex; /* Use flexbox to align the menu items horizontally */
    justify-content: space-between; /* Space the menu items evenly */
    gap: 50px;
    
    
  }
  
  li {
    flex-basis: 10%; /* Divide the menu items equally */
  }
 
  
  li a {
    margin-bottom: 0px;
    display: block; /* Set the link to display as a block */
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove the underline from the link */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    
  }
  
  nav ul li a:hover {
    color: rgb(221, 186, 8);
  }

 

  body {
    background-image: url('Images/backgroundLayers-1.png');
  }

  #backimg {
    background-position: fixed;
    height: 869px;
    width: 100%;
    margin: 0 0 0 0;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -70%);
    font-family: 'Montserrat', sans-serif;
    
    font-size: 120px;
    color: rgb(229, 206, 75);
  }
  .button2 {
    background-color: #F44336; /* Dark red */
    position: absolute;
    transform: translate(140%, -500%);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
  }
  .button1 {
    background-color: #F44336; 
    position: absolute;
    transform: translate(250%, -500%);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button1:hover {
    background-color: #D32F2F;
  }
  .button2:hover {
    background-color: #D32F2F;
  }

  .Nos {
    padding-left: 500px;
    padding-top: 30px;
  }
  
  .Poker {
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    padding-top: 30px;
    padding-left: 30px;
    
  }
  #Pok {
    margin-left: 1300px;
    width: 500px;
    margin-top: -280px;
    border: 2px solid grey;
  }
  .Roul {
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    padding-top: 30px;
    padding-left: 700px;
  }
  #Rou {
    width: 500px;
    padding-left: 80px;
    margin-top: -330px;
    
  }

  .Slot {
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    padding-top: 30px;
    padding-left: 30px;
  }
  #Slo {
    
    margin-left: 1300px;
    width: 500px;
    margin-top: -380px;
    border: 2px solid grey;
  }
  h1 {
    padding-left: 910px;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
  }
  #Only {
    padding-left: 850px;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
  }
  #Roulo {
    padding-left: 890px;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .article-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .article {
    width: 25%;
    background-color: whitesmoke;
    margin: 0 40px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }


  footer {
    display: flex;
    flex-direction:column;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url('Images/Navback.png');
    height: 185px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .Co {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 186, 8); 
    padding-top: 10px;
  }
  .Co a{
    justify-content: space-between ;
    align-items: center;
    color: white; ;
    text-decoration: none;
    
  }
  .Co a:hover {
   color: rgb(221, 186, 8);
  }
  .Sm {
    padding: 0 30px;
    
  }
  
  #insta {
    width: 30px;
    margin-left: 850px;
  }
  
  #Face {
    width: 30px;
    margin-left: 20px;
  }
  #Youtube {
    width: 30px;
    margin-left: 25px;
    padding-bottom: 5px;
  }
  .fa:hover {
    opacity: 0.7;
}


  .payment {
    margin-top: 800px;
  }
   
#line {
  margin-left: 380px;
  height: 30px;
}
#te {
  margin-right: 50px;
  
}
 
#fa{
  margin-right: 30px;
}